body{
	font-family: 'Open Sans', sans-serif;
	color: #201b2b;
	font-style: 15px;
	padding: 0;
	margin: 0;
	background-size: contain;
	background: cover;
}
div,p,input,button,form,span,a,ul,li{
	box-sizing: border-box;

}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.container {
	width: 1170px;
	margin: 0 auto ;
	

}
.header{
	background: rgb(184,181,222);
background: linear-gradient(90deg, rgba(184,181,222,1) 0%, rgba(131,131,204,1) 37%, rgba(44,4,104,1) 100%);
padding-top: 100px
color:#fff;
}
.wrapper{
	display: flex;
	justify-content: space-between;	
}

.offer{
	width: 490px;
	margin-top: 166px;
}
.title{
	font-family: 'Montserrat', sans-serif;
font-style: 100px;

}

.title span{
	color: #48ed8e;
}
.intro{
	margin-top: 20px;
	width: 380px;
	margin-bottom: 36px;

}
.desktop{
	margin-top: 72px;
}
.btn{
	font-family: 'Montserrat', sans-serif;
background:#9D55F6;
color: #fff;
border-radius: 100px;
display: block;
width: 200px;
padding: 30px, 0;
text-align: center;
text-decoration: none;
transition: all 0.5s ease;
padding-top: 20px;
	padding-bottom: 20px;
}
.btn:hover{
	background: #7116E3;

}
.leader{
	padding-top: 108px;
	padding-bottom: 120px;
}
.section-title {
	font-size: 30px;
}
.skills{
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}
.skill-title{
	font-style: 18px;
}
.skill-text{
	margin-top: 7px;
}
.skill{
	width: 350px;
	background: url('../img/Yellow.png') no-repeat left top ;
	padding-left: 50px;
}
.mail{
	background: #333276;
	padding-top: 173px;
	padding-bottom: 190px;
}
.form{
	margin-top: 40px;
}
.input{
	width: 473px;
	border: 1px solid #bfb8d1;
	font-size: 15px;
	border-radius: 100px;
	height:54px;
	padding-left: 38px;
}
.btn-f{
	border:  0;
	cursor: pointer;
	display: inline;
	margin-left: 11px;
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer{
	
	background:#060628; 
}
.credits{
	color: #fff;
	font-size: : 14px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}